@charset "UTF-8";
*{
  font-family: arial;
}

.header{
  background: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}


.menu{
  padding: 10px;
  background: #111;
}
.menu a{
  text-decoration: none;
  color: #fff;
  background: #111;
  padding: 10px;
}

.menu a:hover{
  background: #000;
}

.cuerpo{
  background: #eaeaea;
  padding: 30px;
}

.footer{
  background: #000;
  color: #aaa;
  text-align: center;
  font-size: 10px;
  padding: 50px;
}
p{
  text-align: center;
}
p1{
  text-align: center;
}
