{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title></title>
  </head>
  <body >
    <div class="header">
      <p>Tienda de Ropa</p>
    </div>
    <div class="menu">
      <a href="index.html">Principal</a>
      <a href="productos.html">Productos</a>
      <a href="?p=ofertas">Ofertas</a>
      <a href="?p=carrito">Carrito</a>
    </div>

    <div class="cuerpo">
      <center>
        <table>
         {% for objeto in objetos %}
               <td><img src='{{ objeto.image }}' alt="NOPE" id="logo" width="300" height="300"></td>
               <tr>
                 <td><center>{{ objeto.name }}</center></td>
                 <tr>
                   <td> <center> {{ objeto.precio }} EUROS </center></td>
                 </tr>
               </tr>
         {% endfor %}
        </table>
      </center>
    </div>

    <div class="footer">
      copyright AnySlehider &copy; <2018>
    </div>
  </body>
</html>
